<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oleg.olegshifter"
    android:versionCode="1"
    android:versionName="15.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:label="SOCKS5 Proxy" 
        android:hardwareAccelerated="true"
        android:allowBackup="true">

        <activity
            android:name="org.golang.app.GoNativeActivity"
            android:exported="true"
            android:label="SOCKS5 Proxy"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.app.lib_name"
                android:value="olegshifter" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>